# Remove the previous line if you edit this file

importFrom("stats", "model.matrix", "model.response", "pchisq",
             "pnorm", "pt", "rbinom", "var")

# Export all names
exportPattern(".")

S3method(print, metatest)
S3method(summary, metatest)
